.app {
  display: flex;
  justify-content: center;
}

.homepage {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
}

.header {
  height: 100px;
  width: 1024px;
  background-color: #918F84;
  display: flex;
  align-items: center
}

.footer {
  height: 90px;
  width: 1024px;
  background-color: #918F84;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next-chapter {
  display: flex;
  align-items: center;
  cursor: pointer;
};

/*
For some reason I could not get these styles to apply to their respective div. After spending 15 minutes on it I did an inline style and moved on.
.prev-chapter {
  display: flex;
  align-items: center;
};*/

.next-chapter img {
  flex-grow: 0;
  flex-shrink: 0;
}

.prev-chapter img {
  flex-grow: 0;
  flex-shrink: 0;
}

.prev-text {
  font-size: 26px;
  color: #FDF7F7;
  margin-left: 15px;
  text-align: center;
}

.next-text {
  font-size: 26px;
  color: #FDF7F7;
  margin-right: 15px;
  text-align: center;
}

.menu {
  margin-left: 36px;
}

.menu:hover {
  filter: invert(100%);
  cursor: pointer;
}

.the-heavens-declare {
  position: absolute;
  z-index: 1;
  height: 76px;
  width: 662px;
  color: #9EDB58;
  font-family: "Apple Chancery";
  font-size: 36px;
  line-height: 38px;
  align-self: center;
  text-align: center;
}

.start-reading-now {
  height: 33px;
  width: 236px;
  color: #FDF7F7;
  font-family: "Apple Chancery";
  font-size: 20px;
  line-height: 31px;
  text-align: center;
}

.start-reading-now:hover {
  filter: invert(100%);
  color: #7ED321;
  cursor: pointer;
}

.esv-bible {
  color: #FDF7F7;
  font-family: Geneva;
  font-size: 48px;
  margin: auto;
  padding-right: 36px;
  text-align: center;
}

.orange-overlay {
  height: 834px;
  width: 1024px;
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #FDB749 0%, #61412B 100%);
}

.reading-view {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.reading-view-content {
  height: 834px;
  width: 1024px;
  background-color: #A7A7A7;
  overflow-y: scroll;
  overflow-x: hidden;
}

.reading-view-text {
  padding: 10px;
  height: 834px;
  width: 95%;
  color: #FDF7F7;
  font-family: Geneva;
  font-size: 26px;
  line-height: 30px;
}

.table-of-contents {
  height: 908px;
  width: 851px;
  background-color: #918F84;
  box-shadow: 4px 4px 5px 2px rgba(0,0,0,0.5);
  margin: 20px 0 0 0;
  position: absolute;
  display: flex;
  z-index: 2;
}

.tb-headers {
  height: 73px;
  width: 425px;
  background-color: #D8D8D8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tb-header-text {
  color: #7D7542;
  font-family: Geneva;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}

.line {
  height: 908px;
  background-color: #D8D8D8;
  width: 1.5px;
}

.tb-chapters {
  display: flex;
  flex-direction: column;
}

.tb-chapters-body {
  max-height: 835px;
  overflow-y: auto;
  display: flex;
  width: 420px;
  align-self: center;
  flex-flow: wrap;
}

.tb-chapters-body-text {
  width: 45px;
  height: 30px;
  border: 1px solid #979797;
  border-radius: 6px;
  background-color: #FDF7F7;
  color: #7D7542;
  text-align: center;
  font-family: Geneva;
  font-size: 24px;
  margin: 10px;
}

.tb-chapters-body-text:hover {
  background-color: #7ED321;
  cursor: pointer;
}

.tb-books {
  display: flex;
  flex-direction: column;
}

.tb-books-body {
  height: 835px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.tb-books-body-text {
  color: #FDF7F7;
  font-family: Geneva;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 0 15px;
}

.tb-books-body-text:hover {
  color: #7ED321;
  cursor: pointer;
}

/*
  Use below to make design responsive based on viewport size if time allows
*/
/*@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape)*/
