.app {
  display: flex;
  justify-content: center;
}

.homepage {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
}

.header {
  height: 100px;
  width: 1024px;
  background-color: #918F84;
  display: flex;
  align-items: center
}

.footer {
  height: 90px;
  width: 1024px;
  background-color: #918F84;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  margin-left: 36px;
}

.the-heavens-declare {
  position: absolute;
  height: 76px;
  width: 662px;
  color: #9EDB58;
  font-family: "Apple Chancery";
  font-size: 36px;
  line-height: 38px;
  align-self: center;
  text-align: center;
}

.start-reading-now {
  height: 33px;
  width: 236px;
  color: #C0390B;
  font-family: "Apple Chancery";
  font-size: 20px;
  line-height: 31px;
  text-align: center;
}

.esv-bible {
  color: #FDF7F7;
  font-family: Geneva;
  font-size: 48px;
  margin: auto;
  padding-right: 36px;
  text-align: center;
}

.orange-overlay {
  height: 834px;
  width: 1024px;
  display: flex;
  justify-content: center;
  background: linear-gradient(135deg, #FDB749 0%, #61412B 100%);
}

/*
  Use below to make design responsive based on viewport size if time allows
*/
/*@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape)*/
